html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 50px;
}

body{
  background-color: pink;
 /* display: flex;
  text-decoration: #008080;*/
}
